@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
    U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 12px;

  color: #ffffff;
  background-color: rgb(24, 24, 24);
}

body {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
  padding: 10px;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

input {
  appearance: none;

  border: none;
  border-radius: 8px;

  outline: none;

  -webkit-app-region: none;

  background-color: rgba(255, 255, 255, 0.05);
  color: rgb(255, 255, 255);

  text-align: center;

  height: 30px;
}

input[type="range"],
input[type="text"] {
  flex-basis: 100%;
}

input:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

input:active {
  background-color: rgba(255, 255, 255, 0.2);
}

div {
  display: flex;
  flex: 1 1 100%;

  gap: 10px;

  width: 100%;
}

div input[type="button"] {
  flex-basis: 50%;
}

div label {
  flex-basis: 50%;
}

textarea {
  box-sizing: border-box;
  flex: 1 0 100%;

  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;

  outline: none;
  border: none;
  border-radius: 8px;

  padding: 8px;
  resize: none;
}

textarea:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

textarea:active {
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar {
  border: none;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 8px;

  background-color: white;
  background-clip: padding-box;
}

::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;

  width: 30px;
  height: 30px;

  background: #ffffff;

  border: none;
  border-radius: 8px;
  outline: none;
}

/*

Check box stuff

*/

.container {
  position: relative;
  padding-left: 35px;

  line-height: 25px;
}

.container input {
  position: absolute;
  opacity: 0;

  cursor: pointer;

  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;

  top: 0;
  left: 0;

  height: 25px;
  width: 25px;

  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.container:hover input~.checkmark {
  background-color: rgba(255, 255, 255, 0.1);
}

.container:active input~.checkmark {
  background-color: rgba(255, 255, 255, 0.2);
}

.container input:checked~.checkmark {
  background-color: rgba(255, 255, 255, 0.05);
}

.container:hover input:checked~.checkmark {
  background-color: rgba(255, 255, 255, 0.1);
}

.container:active input:checked~.checkmark {
  background-color: rgba(255, 255, 255, 0.2);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;

  width: 5px;
  height: 10px;

  border: solid white;
  border-width: 0 3px 3px 0;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#Clear {
  padding-left: 10px;
  padding-right: 10px;
}